<div style="background-color: #F0F0F0; width: 75%; padding: 20px; border: 1px solid #CCC; margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <p *ngIf="weather.length == 0">Searching...</p>
    <input type="text" class="getCityName">
    <button type="submit" (click)="getCity()">Search</button>
   <div class="days">
        <div class="weekday" *ngFor="let forecast of weather">
            <div>
                {{ forecast.weekday }}
            </div>
            <img [src]="forecast.iconLink" />
            <div>{{ forecast.highTemperature }} C<div>
            <div>{{ forecast.utcTime | moment }}</div>
        </div>
   </div>
</div>



<!-- //<table style="width: 100%; text-align: center">
        <thead></thead>
        <tbody>
            <tr>
                <td *ngFor="let forecast of weather">
                    <img [src]="forecast.iconLink" />
                    <p>{{ forecast.highTemperature }}C</p>
                    <p>{{ forecast.utcTime | moment }}</p>
                    <div>{{test}}</div>
                </td>
            </tr>
        </tbody>
    </table> -->